* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Instrument Serif';
}

.carousel-inner img {
    width: 100%;
    height: 100vh;

}

.aboutimg {
    margin-left: 20px;
    width: 70%;
    height: 450px !important;
}


.container-fluid p {
    padding-right: 30px;
    margin-left: 20px;
}


.servimg {

    width: 50%;
    height: 200px;
    box-shadow: 14px 15px 25px grey;
    display:grid;
}



.icon i {
    display: inline;
    justify-content: normal;
    padding: 10px;
}

.icon a i {
    text-decoration: none;
    color: rgb(254, 252, 252);
}

.icon i {
    text-decoration: none;
    color: rgb(254, 252, 252);

}


.icon a i:hover {
    color: rgb(29, 160, 216);
}


h2 {
    text-decoration: none;
}

#piechart {
    height: 600px;
}

para:first-child::first-letter {
    font-size: 2rem;
}



.container1 {
    position: relative;
    max-width: 800px;
    /* Maximum width */
    margin: 0 auto;
    /* Center it */
}

.container1 .content {
    position: absolute;
    /* Position the background text */
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    /* Grey text */
    width: 100%;
    /* Full width */
    padding: 20px;
    /* Some padding */
}