*{
    margin:0; 
    padding:0; 
    box-sizing:border-box;
    font-family: 'Instrument Serif';
}

.carousel-inner img{
    width: 100%;
    height: 100vh;

}

.aboutimg{
    width:50% ;
    height: 250px!important;
}


